<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
</head>


       <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

           <!-- Indicators -->
           <ol class="carousel-indicators">
               <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
               <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
               <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
           </ol>

           <!-- Wrapper For Slides -->
           <div class="carousel-inner" role="listbox">

               <!-- Third Slide -->
               <div class="item active">

                   <!-- Slide Background -->
                   <img src="http://careher.net/wp-content/uploads/2015/06/shutterstock_good-job.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                   <div class="bs-slider-overlay"></div>

                   <div class="container">
                       <div class="row">
                           <!-- Slide Text Layer -->
                           <div class="slide-text slide_style_left">
                               <h1 data-animation="animated zoomInRight">荔枝工作</h1>
                               <p data-animation="animated fadeInLeft">
                                 <p class="slogan">荔枝招聘 是一个提供“零经验”跨行业工作机会的求职网站
                                    </p>
                              <a class="btn btn-primary" href="/jobs">应聘工作</a>
                                           <a class="btn btn-default" href="/jobs/new">发布工作</a>
                               </div>
                       </div>
                   </div>
               </div>
               <!-- End of Slide -->

               <!-- Second Slide -->
               <div class="item">

                   <!-- Slide Background -->
                   <img src="http://www.thechinfamily.hk/web/common/images/tertiary-student/find-the-right-job/26011313_L.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                   <div class="bs-slider-overlay"></div>
                   <!-- Slide Text Layer -->
                   <div class="slide-text slide_style_center">
                       <h1 data-animation="animated flipInX">荔枝工作</h1>
                       <p data-animation="animated lightSpeedIn">步子迈得太大也不会扯着蛋</p>
                       <a class="btn btn-default" href="/jobs">浏览工作</a>
                     <a class="btn btn-primary" href="/jobs">应聘工作</a>
                   </div>
               </div>
               <!-- End of Slide -->

               <!-- Third Slide -->
               <div class="item">

                   <!-- Slide Background -->
                   <img src="http://www.30.com.tw/images/blog/0_w4.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                   <div class="bs-slider-overlay"></div>
                   <!-- Slide Text Layer -->
                   <div class="slide-text slide_style_right">
                       <h1 data-animation="animated zoomInLeft">荔枝工作</h1>
                       <p data-animation="animated fadeInRight">Follow your heart to find your job</p>
                       <a class="btn btn-default" href="/jobs/new">发布工作</a>
                       <a class="btn btn-primary" href="/jobs">浏览工作</a>
                   </div>
               </div>
               <!-- End of Slide -->


           </div><!-- End of Wrapper For Slides -->

           <!-- Left Control -->
           <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
               <span class="fa fa-angle-left" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
           </a>

           <!-- Right Control -->
           <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
               <span class="fa fa-angle-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
           </a>

         </div> <!-- End  bootstrap-touch-slider Slider -->

         <section id="company">
         <div style="text-align: center;margin-top: 100px;">
           <h2>良驹配伯乐 </h2>
           <h4>千里传知音</h4>
           <h4>互联网，传媒，通信，建筑，零售，覆盖各行各业</h4>
         </div>
         <div style="text-align: center;margin-top: 50px;">
           <h2>海量供需</h2>
           <h4>为您量身定制跨行所需</h4>
           <h4>零“经验”正是我们想要的，也是我们能给的</h4>
         </div>



  <!-- Script to Activate the Carousel -->
     <script>
     $('.carousel').carousel({
         interval: 5000 //changes the speed
     })

     $('#bootstrap-touch-slider').bsTouchSlider();

     </script>

    <script>
     $(document).ready(function () {
     $('.material-button-toggle').click(function () {
         $(this).toggleClass('open');
         $('.option').toggleClass('scale-on');
     });
    });
   </script>
